<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bomp.db.mapper.MonBrchInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bomp.db.entity.MonBrchInfo" >
    <result column="BRCH_NO" property="brchNo" jdbcType="VARCHAR" />
    <result column="BRCH_DESC" property="brchDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BRCH_NO, BRCH_DESC
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bomp.db.entity.MonBrchInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_BRCH_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.bomp.db.entity.MonBrchInfoExample" >
    delete from T_BRCH_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bomp.db.entity.MonBrchInfo" >
    insert into T_BRCH_INFO (BRCH_NO, BRCH_DESC)
    values (#{brchNo,jdbcType=VARCHAR}, #{brchDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bomp.db.entity.MonBrchInfo" >
    insert into T_BRCH_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brchNo != null" >
        BRCH_NO,
      </if>
      <if test="brchDesc != null" >
        BRCH_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brchNo != null" >
        #{brchNo,jdbcType=VARCHAR},
      </if>
      <if test="brchDesc != null" >
        #{brchDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bomp.db.entity.MonBrchInfoExample" resultType="java.lang.Integer" >
    select count(*) from T_BRCH_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_BRCH_INFO
    <set >
      <if test="record.brchNo != null" >
        BRCH_NO = #{record.brchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.brchDesc != null" >
        BRCH_DESC = #{record.brchDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_BRCH_INFO
    set BRCH_NO = #{record.brchNo,jdbcType=VARCHAR},
      BRCH_DESC = #{record.brchDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>